@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*  {font-family: 'Open Sans', sans-serif;}

body {
    overflow-x: hidden;
    background-image: url("/img/paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #cecfceb6;
}

#body_blog {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #96938ec0;
}

a {color: #a53e3e;}

hr {
    margin-bottom:1rem;
    color: #1b2224;
    opacity: 0.6;
}

/*Start Header*/
#header_blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    background-color: #1b22247d ;
    margin-bottom: 2rem;
}

#header_blog h1 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 #title_blog {
    color: #cecfceb6;
    text-decoration: none;
    transition:all 0.4s ease-in-out;
}

h1 #title_blog:hover {
    color: #1b2224;
}

#header_blog p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.header_blog_ajust {padding: 15px 3vw;}

#navbar_header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 2rem;
    margin-right: 5vw;
}

#navbar_header a{
    color: #cecfceb6;
    font-size: 2rem;
    padding-top: 0.2rem;
    transition:all 0.4s ease-in-out;
}

#navbar_header a:hover{color: #1b2224;}
/*End Header*/

/*Start Cards*/
.all-post__link-card {
    color: #cecfceb6;
    text-decoration: none;
    margin: 0.5rem;
}

.all-post__card {
    background-color: #1b2224b6;
    width: 80vw;
    margin: auto;
    border-radius: 20px;
}

.all-post__card:hover {
    background-color: #4f89159f;
}

.all-post__card-content {
    width: 70vw;
    margin: auto;
    padding: 1rem 0;
    transition: all 0.6s ease-in-out;
}

.all-post__card-content:hover {
    padding-left: 2rem;
    color: #1b2224;
}
/*End Cards*/

/*Start Post*/
.article_content {
    color: #1b2224;
}

.default_article {
    max-width: 50vw;
    margin: auto;
}

.default_article .title {
    color: #1b2224;
    border-left: solid 4px #02732Ab6;
    padding: 0.5rem;
}

.article_content img {max-width: 50vw;}

.cod {
    padding: 1rem;
    background-color: #100d26;
    border-left: solid 5px #02732A;
    border-radius: 10px;
    color: #cecfceb6;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.author .img_author {
    border-radius: 50%;
    width: 2rem;
    margin: 0 1rem 0 0;
    padding: 0;
}
/*End Post*/

/* Start Footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-top: dotted 2px #1b2224;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    color: #1b2224;
}
/*End Footer*/

/*
****** Mobile ******
*/
@media screen and (max-width: 780px) {
    #header_blog p {display: none;}

    .default_article {
        max-width: 95vw;
        margin: auto;
    }

    #navbar_header {margin-right: 2vw;}

    .article_content img {max-width: 95vw;}
}