@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*  {font-family: 'Open Sans', sans-serif;}

body {
    overflow-x: hidden;
    background-image: url("/img/paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #262626;
}

#body_blog {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #bfbab4c0 ;
}

a {color: #188C8C;}

hr {
    margin-bottom:1rem;
    color: #188C8C;
    opacity: 0.6;
}

#header_blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    background-color: #188c8c7d ;
    margin-bottom: 2rem;
}

#header_blog h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#header_blog p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.header_blog_ajust {padding: 15px 3vw;}

#navbar_header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 2rem;
    margin-right: 5vw;
}

#navbar_header a{
    color: #262626a2;
    font-size: 2rem;
    padding-top: 0.2rem;
    border-top: dotted 4px transparent;
    transition:all 0.5s ease-in-out;
}

#navbar_header a:hover{border-top: dotted 4px;}

.back-up{margin-right: 0.5rem;}

.nav_article {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav_article p {
    padding: 0;
    margin: 0;
}

.nav_article a {
    padding: 0;
    margin: 0;
}

.default_article {
    max-width: 50vw;
    margin: auto;
}

.default_article .title {
    border-left: solid 4px #188C8C;
    padding: 0.5rem;
}

.article_content img {max-width: 50vw;}

.cod {
    padding: 1rem;
    background-color: #100d26;
    border-left: solid 5px #02732A;
    border-radius: 10px;
    color: #04BF33;
}

#author {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

#author .img_author {
    border-radius: 50%;
    width: 2rem;
    margin: 0 1rem 0 0;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-top: dotted 2px #188C8C;
    margin-top: 2rem;
}

footer p {margin: 0;}

@media screen and (max-width: 780px) {
    
    #header_blog p {display: none;}

    .default_article {
        max-width: 95vw;
        margin: auto;
    }

    #navbar_header {margin-right: 2vw;}

    .article_content img {max-width: 95vw;}
    
}