@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --color-bg:#f8f8f8;
    --color-menu:#7D7A67;
    --color-primary:#2d2933;
    --color-secondary:#181818;
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
}

/* all
*******/
* {
    font-family: 'Playfair Display', serif;
}



/* blog
*******/
#body-blog {
    background-color: var(--color-bg);
}

#blog h1 {
    font-size: 3.5rem;
    text-align: center;
    color: var(--color-primary);
    margin: 3rem 0;
}

#blog-hr {
    width: 100vw;
    margin: auto;
    margin-bottom: 2rem;
    border-color: var(--color-menu);
    opacity: .4;
}

#blog section {
    margin: auto;
}

#blog h3 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

#blog article {
    max-width: 50vw;
    width: 50vw;
    margin: 1rem auto;
    display: flex;
    padding-right: 1rem;
}

#blog article:hover {
    box-shadow: 0 0 5px var(--color-secondary);
    border-radius: 10px;
}

#blog article img {
    width: 13rem;
    border-radius: 10px 0 0 10px;
}

#blog article .content {
    width: calc(80vw - 14rem);
    margin-left: 1rem;
}

#blog article .content h2 {
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--color-secondary);
}

#blog article .content p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
    text-align: justify;
}

#blog article .content .date {
    font-size: .9rem;
    
}

#article {
    max-width: 60vw;
    margin: auto;
    text-align: justify;
}

#title-article {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

#article .text-article {
    font-size: 1.1rem;
    text-align: justify;
    color: var(--color-primary);
}

#article a {
    color: var(--color-primary);
    text-decoration: none;
}

#article .quote {
    width: 50vw !important;
    margin: 1rem auto !important;
}