
#menu {
    padding: 1rem;
    margin-top: 2rem;
    background-color: #00000034;
}

#post .postTitle {
    font-size: 2.3rem;
    margin: 27vh 0 0;
}

#post .postCaption {
    margin: 0 0 9vh;
}

#post h1 {
    font-size: 2rem;
    margin: 3rem 0 1.5rem;
}

#post h2 {
    font-size: 1.7rem;
    margin: 1.5rem 0 .8rem;
}

#post h3 {
    font-size: 1.5rem;
    margin: 1.5rem 0 .8rem;
}

#post h4 {
    font-size: 1.3rem;
    margin: 1.5rem 0 .8rem;
    text-align: right;
}

#post h5 {
    font-size: 1.2rem;
    margin: 1.5rem 0 .8rem;
}

#post p {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 300;
}

#post .nMargin {margin: 0 !important;}
#post .p100 {font-weight: 100;}
#post .p200 {font-weight: 200;}
#post .p400 {font-weight: 400;}
#post .p500 {font-weight: 500;}
#post .p600 {font-weight: 600;}
#post .p700 {font-weight: 700;}

#post figure {
    margin-bottom: 1rem;
    border: 1px dashed var(--color-lux);
    padding: .4rem .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#post figure img {
    max-width: 100%;
}

#post figcaption {
    margin-top: .3rem;
    font-size: .9rem;
    font-weight: 300;
}

#post li {
    margin-left: 2rem;
}

#post li p {
    padding: 0;
    margin: .3rem;
}

#post .indice li {
    list-style: none;
    font-size: 1.2rem;
}

#post .indice li a {
    transition: all .4s ease-in-out;
}

#post .indice li a:hover {
    padding-left: .5rem;
}

#post table {
    text-align: center;
    color: var(--color-text);
    width: 100%;
}

#post th, td {
    background-color: #00000034;
    padding: .3rem 0;
}

.cap {
    color: var(--color-category) !important;
}

#menu span {
    line-height: 150%;
}

#menu .current {
    color: var(--color-category);
}

.coverTitle {
    text-align: center;
    margin-bottom: 0 !important;
}

.cover {
    text-align: center;
    margin: 0 !important;
}

.coverImg {
    margin: 0 15% !important;
    max-width: 70% !important;
}

.animRotate {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

@media screen and (max-width: 800px) {
    body {
        max-width: 90vw;
    }
}