#goback {
    display: inline-block;
    margin-top: 1rem;
    color: var(--color);
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

#goback:hover {
    color: var(--color-lux);
}

#post .postTitle {
    font-size: 2.3rem;
    margin: 27vh 0 9vh;
}

#post h1 {
    font-size: 1.9rem;
    margin: 5rem 0 1.5rem;
}

#post h2 {
    font-size: 1.7rem;
    margin: 1.5rem 0 .8rem;
}

#post h3 {
    font-size: 1.5rem;
    margin: 1.5rem 0 .8rem;
}

#post h4 {
    font-size: 1.3rem;
    margin: 1.5rem 0 .8rem;
}

#post h5 {
    font-size: 1.2rem;
    margin: 1.5rem 0 .8rem;
}

#post p {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 300;
}

#post .nMargin {margin: 0 !important;}
#post .p500 {font-weight: 100;}
#post .p200 {font-weight: 200;}
#post .p400 {font-weight: 400;}
#post .p500 {font-weight: 500;}
#post .p600 {font-weight: 600;}
#post .p700 {font-weight: 700;}

#post figure {
    margin-bottom: 1rem;
    border: 1px dashed var(--color-lux);
    padding: .4rem .2rem;
}

#post figure img {
    width: 100%;
}

#post .indice li {
    list-style: none;
    font-size: 1.2rem;
}

#post .indice li a {
    transition: all .4s ease-in-out;
}

#post .indice li a:hover {
    padding-left: .5rem;
}

@media screen and (max-width: 800px) {
    body {
        max-width: 90vw;
    }
}