@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');

:root {
    /*Colors*/
    --body-background: #363636;
    --color-lux: #C2C0A6;
    --color-text: #f1f1f1;
}

* {
    margin: auto;
    padding: 0;
    font-family: 'Source Serif 4', serif;
    max-width: 600px;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

body {
    background-color: var(--body-background);
    max-width: 600px;
    color: var(--color-text);
}

p {
    color: var(--color-text);
    line-height: 1.5rem;
    margin-bottom: 0.7rem;
    font-size: 1rem;
}

/**Footer
*/
footer {
    margin: 1rem auto 2rem;
    max-width: 90vw;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: .3rem;
    gap: .2rem;
}

footer li {
    list-style: none;
    padding: .2rem;
    border: 1px dashed transparent;
    transition: all .4s ease-in-out;
}

footer li:hover {
    border: 1px dashed var(--color-lux);
}

footer a, li {
    color: var(--color-lux);
    margin: 0;
}


@media screen and (max-width: 800px){
    body {
        width: 90vw;
        max-width: 90vw;
    }

    * {
        max-width: 90vw !important;
    }
}
