* {
    margin: 0;
}

body{
    max-width: 100vw !important;
}

.nav-center {
    background-color: #fff;
    box-shadow: 0 1px 10px #000;
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
    color: rgb(0, 81, 128);
}

/*-----------------------*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h2 {
    margin: 15vh 0 7vh;
    background-color: #FFF;
    color: #000;
    border: solid 0.2rem #000;
    border-radius: 0.6rem;
    padding: 2vh 5vw;
    max-width: 100vw;
    box-sizing: border-box;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    text-align: center;
    border-radius: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color {
    text-transform: uppercase;
    color: #005180;
}

/*-------------------------------*/

.btn {
    background-color: #fff;
    border: solid 0.2rem #000;
    border-radius: 0.6rem;
    height: 3rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    cursor: pointer;
}

/*----------------------------*/

footer {
    width: 100vw;
    box-sizing: border-box;
    padding-bottom: 1rem;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;

}

footer a {
    font-size: 0.8rem;
    font-weight: 700;
    color: #FFF;
    text-shadow: 1px 1px #000;
    text-decoration: none;
}

@media screen and (max-width: 800px) {

    .nav-center {
        flex-wrap: wrap;
    }
    
    .nav-links {
        margin-top: 1rem;
    }
    
}