@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
:root {
    --color-bg:#f8f8f8;
    --color-menu:#77A656;
    --color-primary:#2d2933;
    --color-secondary:#181818;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#status {
    font-size: 2.5rem;
    color: var(--color-secondary);  
    margin: calc(100vh/6) auto 1rem;
}

#game-align {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: .3rem;
}

#game .home {
    width: calc(100vh/7);
    height: calc(100vh/7);
    border-radius: 5%;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(100vh/10);
    font-family: 'Neucha', cursive;
    color: var(--color-bg);
    cursor: pointer;
}

#game .winner {
    background-color: var(--color-menu);
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    margin-top: 5vh;
}

#buttons .btn {
    display: inline-block;
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-bg);
    width: calc(100vh/7);
    height: calc(100vh/10);
    cursor: pointer;
}

.active-mode {
    background-color: #77A656 !important;
    border-radius: 5% !important;
}